.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.container {
  width: 50%;
  margin: 40px auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.445);
  padding: 30px;
}
.container form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(132, 0, 255);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container form input::placeholder {
  font-size: 16px;
  color: black;
}
.container form input:focus {
  background-color: rgba(132, 0, 255, 0.349);
  border: 1px solid white !important;
}
.container form button {
  padding: 5px 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 89, 255);
  font-size: 18px;
  margin: 10px;
  border: 3px solid rgba(132, 0, 255, 0.349);
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.container form button:hover {
  background-color: rgba(132, 0, 255);
}
.success {
  color: green;
  font-weight: 600;
}
.error {
  color: red;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .bg {
    height: 97vh;
  }
}
